* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
}
body {
  background: linear-gradient(
    172deg,
    rgba(101, 216, 217, 0.75) 11%,
    rgba(110, 49, 207, 0.44) 29%,
    rgba(85, 113, 207, 1) 64%,
    rgba(49, 207, 160, 0.58) 78%
  );
}
